

.cmb-td input {
	float:left;
}

#mbdb_box {
	width:250px; 
	float:right; 
	border: 2px solid #845a90; 
	box-shadow: 0 1px 1px rgba(0,0,0,.04); 
	background-color: white;
		padding: 8px 12px;
}

#mbdb_about_mooberry {
	width: 45%;
	float: left;
	padding-left: 15px;
}

#mbdb_option_metabox {
		width: 50%;
		float: left;
}
	
	
#side-sortables 	.cmb-wrap  {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

#side-sortables .cmb-th label:after {
	border: 0px;
	padding: 0px;
}

#side-sortables .cmb-th {
	padding: 0px;
}

.postbox-container .cmb-row:not(:last-of-type) {
	border: 0px;
}

#book_page_options_metabox {
	width: 50%;
	float: left;
}

.cmb-row {
	margin: 0px;
	padding: 0px;
}

div.cmb-row.cmb-type-text.cmb2-id--mbdb-author-sort-selection.table-layout  {
	padding: 0px;
 }
/*
#mbdb_shortcode_selector {
	width: 45%;
	float: left;
	padding: 5px;
}
*/
.shortcode_description, .shortcode_argument_description {
	font-style: italic;
	
}

.fielddescription {
color: #aaa;
font-style: italic;
margin: 0;
}

/* set book list multi check for book grid page to be horizontal */
.cmb2-id--mbdb-book-grid-custom-select li,.cmb2-id--mbdb-book-grid-genre li, .cmb2-id--mbdb-book-grid-series li  {
	display: inline-table;
	margin-right: 10px;
}

/* set genre list multi check for book grid page to be horizontal 
.cmb2-id--mbdb-book-grid-genre li {
	display: inline-table;
	margin-right: 10px;
}

/* set series list multi check for book grid page to be horizontal 
.cmb2-id--mbdb-book-grid-series li {
	display: inline-table;
	margin-right: 10px;
}
*/

