
	
.mbm-archive  {
	
	}

.mbm-archive-cover {
			
			padding: 0px 3%;
			width: 34%;
			float:left;

		
}
.mbm-archive-image {
		width: 200px;
}

.mbm-archive-summary, .mbm-archive-link {
	/* 	margin: 0px 3% 0px 57%;  */
	
	display: inline;
		
	}
	
	#mbm-book-page .mbm-book-cover img {
		width: 100%;
	}

/* #mbm-book-sidebar 	{ */
  #mbm-book-page .mbm-book-cover, #mbm-book-page .mbm-book-serieslist, #mbm-book-page .mbm-book-editions, #mbm-book-page .mbm-book-goodreads, #mbm-book-links1  .mbm-book-buy-links, #mbm-book-links1 .mbm-book-download-links  {
	 width: 34%; /*215px;*/
	/*	margin-left: 3%; /*15px; */
		  float: left; 
	/* 	margin-bottom: 15px; */
		clear: left;
		
	}
 
	#mbm-book-page .mbm-book-summary h1, #mbm-book-page .mbm-book-summary h2, #mbm-book-page .mbm-book-summary h3, #mbm-book-page .mbm-book-summary h4, #mbm-book-page .mbm-book-summary h5, #mbm-book-page .mbm-book-summary h6 {
		display: inline;
	}
	
	/* #mbm-book-main { */
	#mbm-book-page .mbm-book-summary, #mbm-book-page .mbm-book-details-outer, #mbm-book-page .mbm-book-excerpt {
		/* margin: 0px 15px 15px 260px;  */
		margin: 0px 3% 15px 40%;
		
	}
	
	#mbm-book-page .mbm-book-buy-links-list, #mbm-book-page .mbm-book-download-links-list {
		margin-left: 0;
	}
 
	
#mbm-book-page .mbm-book-cover, #mbm-book-page .mbm-book-goodreads-image { 
	
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	 #mbm-book-page .mbm-book-buy-links li {
		margin:0;
	}
	
#mbm-book-page .mbm-book-details { 
		font-size: smaller;
		border: 1px solid #cccccc;
		/* margin: 15px 0px; */
		margin: 3% 0px;  
		/* padding: 10px; */
		padding: 2%;
	}
	
#mbm-book-page .mbm-book-details-published-label, #mbm-book-page .mbm-book-details-publisher-label, #mbm-book-page .mbm-book-details-editors-label, #mbm-book-page .mbm-book-details-illustrators-label, #mbm-book-page .mbm-book-details-cover-artists-label, #mbm-book-page .mbm-book-details-genres-label, #mbm-book-page .mbm-book-details-tags-label {
	font-weight: bold;
}
	
/* Generate Press theme was having a problem this fixed */
	#mbm-book-page a.mbm-book-cover-artist-website:before, #mbm-book-page a.mbm-book-cover-artist-website:after, #mbm-book-page a.mbm-book-editor-website:before, #mbm-book-page a.mbm-book-editor-website:after, #mbm-book-page a.mbm-book-illustrator-website:before, #mbm-book-page a.mbm-book-illustrator-website:after {
		content: initial;
	}
	
	 #mbm-book-page .mbm-book-serieslist-before, #mbm-book-page .mbm-book-serieslist-link, #mbm-book-page .mbm-book-serieslist-after {
		font-weight: bold;
	}
	
	 #mbm-book-page .mbm-book-serieslist-listitem-text {
		font-style: italic;
	}
	
	#mbm-book-page  .mbm-book-serieslist-listitem-link .mbm-book-serieslist-listitem-text {
		font-style: normal;
	}
	
	#mbm-book-page .mbm-book-reviews  {
		clear: both;
		border-top: 1px solid #cccccc;
		margin-bottom: 0;
	}
	
	
/*	.mbm-book-serieslist, .mbm-book-details, .mbm-book-editions {
		border-bottom: 1px solid #cccccc;
		padding-bottom: 10px;
	}
	*/


	
	#mbm-book-page .mbm-book-editions-size,#mbm-book-page  .mbm-book-editions-srp {
		display: inline;
	}

.cmb-row {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

	#mbm-book-page .mbm-book-reviews-header {
	font-weight: bold;
}
#mbm-book-page .mbm-book-reviews-block {
		margin-left: 3%;
	}
	
	#mbm-book-page .mbm-book-reviews-website:before, #mbm-book-page .mbm-book-reviews-website:after  {
		display: inline;
	}

#mbm-book-page 	.mbm-book-buy-links-label, #mbm-book-page .mbm-book-download-links-label, #mbm-book-page .mbm-book-editions-label, #mbm-book-page .mbm-book-reviews-label, #mbm-book-page .mbm-book-excerpt-label 
	{
		font-size: 1.2em;  /* large */
		font-weight: bold; 
		display: block;
	}

	
	#mbm-book-page .mbm-book-editions-label, #mbm-book-page .mbm-book-reviews-label, #mbm-book-page .mbm-book-excerpt-label { 
		padding: 15px 0px;
	}
	
	
	#mbm-book-page .mbm-book-editions-subinfo {
		display:none;
		border: 1px solid #cccccc;
		margin-left: 6%; /*10px; */
		margin-top: 0px;
		padding: 3% 0 3% 3% /*5px 0px 5px 5px; */
}

#mbm-book-page .mbm-book-editions-toggle:before {
	content: '\002B';
	
}

 #mbm-book-page .mbm-book-editions-open:before {
	 content: '\002D\0020';
	}
	
#mbm-book-page .mbm-book-excerpt-text-hidden {
	display: none;
}

#mbm-book-page .mbm-book-excerpt-read-more, #mbm-book-page .mbm-book-excerpt-collapse,#mbm-book-page  .mbm-book-editions-toggle {
	
	cursor: pointer;
	border: none;
}


#mbm-book-page .mbm-book-excerpt-read-more,#mbm-book-page  .mbm-book-excerpt-collapse {
	text-decoration: underline;	
}
#mbm-book-page .mbm-book-editions-srp,#mbm-book-page  .mbm-book-editions-format-name {
/*		font-weight: bold; */
	}
	
#mbm-book-page .mbm-book-editions-format {
		width: 100%;
		display: block;
	}
	
#mbm-book-links1 .mbm-book-buy-links-image { 
	width: 44%;
	min-width: 155px;
	margin-left: 1%;
	margin-bottom: 1%; 
}

#mbm-book-page .mbm-download-links-image { 
	padding: 3%;
}
	
	
	#mbm-book-page  .mbm-book-serieslist,  #mbm-book-page .mbm-book-goodreads {
		padding-top: 15px; 
	}

	#mbm-book-page .mbm-book-editions, #mbm-book-page .mbm-book-goodreads  {
		margin-bottom: 15px;
	
	}
	
#mbm-book-page  .mbm-book-serieslist,#mbm-book-page .mbm-book-editions, #mbm-book-page .mbm-book-goodreads {
	
			
		border-top: 1px solid #cccccc;
	
	}
	
	
	
	
	#mbm-book-page .mbm-book-editions {
		padding-bottom: 15px;
	}
	
#mbm-book-page 	 .mbm-book-links ul {
		margin-left: 0;
		padding-left: 0;
		
	}
	
	#mbm-book-page .mbm-book-buy-links-image,  #mbm-book-page  .mbm-book-download-links-image {
		padding:  5px; 
		border-radius: 3px;		
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	}
	
	#mbm-book-page  .mbm-book-download-links-image {
		height: 52px;
	}
	
	#mbm-book-links2  .mbm-book-buy-links-image {
		height: 50px;
		width: auto;
	}
	
.mbm-book-grid-cell img {
		width: 100%;
	}
	
#mbm-book-links1	.mbm-book-buy-links-text { display: block; }

@media (max-width:640px) {
	
	
	 #mbm-book-links1 {
		float: none;
		width: 45%
	}
	
	/*	#mbm-book-links2  .mbm-book-buy-links-image {
		height: 50px;
		width: auto;
	}
	*/
	
	
	#mbm-book-links1 .mbm-book-buy-links, #mbm-book-links1 .mbm-book-download-links {
		width: 90%
	}
	
	#mbm-book-links1 .mbm-book-buy-links-image {
		width: 100%;
	}

	#mbm-book-links1 .mbm-book-download-links-image, #mbm-book-links2 .mbm-book-download-links-image {
		height: 42px;
	}
	
	#mbm-book-page 	.mbm-book-buy-links-label, #mbm-book-page .mbm-book-download-links-label, #mbm-book-page .mbm-book-editions-label, #mbm-book-page .mbm-book-reviews-label, #mbm-book-page .mbm-book-excerpt-label 
	{
		font-size: 1.1em;  /* large */
	}
	
	#mbm-book-page .mbm-book-cover {
	  	float: right; 
		margin: 0 0 0 3%;
		width: 47%;
	}
	
	#mbm-book-page .mbm-book-serieslist {
	  	float: right;  
		width: 47%;
	}
	
	#mbm-book-page .mbm-book-editions{
		  float: right; 
		width: 47%;
		margin-left: 3%;
	}
	
	#mbm-book-page .mbm-book-goodreads {
		width: 47%;
	}
	
	
	#mbm-book-page .mbm-book-summary, #mbm-book-page .mbm-book-excerpt, #mbm-book-page .mbm-book-details-outer {
		clear: both;
		margin: 0;
			
	}
	

	
	#mbm-book-page .mbm-book-excerpt {
		margin-bottom: 15px;
	}
	
	
	
}	
	

/*

@media  (max-width:800px) {
 	#mbm-book-page .mbm-book-download-links-image{ 
	
		height: 42px;
	}
	
}
*/


@media (min-width:641px) {
	#mbm-book-links2  .mbm-book-download-links-image {
		height: 50px;
		width: auto;
	}
	
	
	
	
}
@media  (min-width:801px) {
	#mbm-book-page   .mbm-book-download-links-image  { 
		height: 52px;
	}
}

/*	
	
	* {
   border: 1px solid red !important;
}

*/
	
	