.cmb-row {
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.mbm-book-reviews-header {
	font-weight: bold;
}

.mbm-book-buy-links-label, .mbm-book-download-links-label {
	font-size: large;
	font-weight: bold;
	display: block;
}
