
.mbdb_box {
	width:250px;
	/*float:right;  */
	border: 2px solid #845a90;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background-color: white;
		padding: 8px 12px;
		margin-bottom: 20px;
}

#mbdb_about_mooberry {
	/* width: 45%; */
	float: right;
	margin-right: 25px;

}

#mbdb_option_metabox {
		width: 50%;
		float: left;
}


#book_page_options_metabox {
	width: 50%;
	float: left;
}

.wrap.cmb2-options-page.mbdb_options {
	float: left;
	 width: 50%;

}

body.mooberry-book-manager-settings_page_mbdb_retailers_options .cmb2-metabox-description {
  font-style: italic;
  display: block;
  clear: both;
}
body.mooberry-book-manager-settings_page_mbdb_retailers_options .cmb-row.cmb-type-title {
    background-color: white;
}



  #mbdb_popup_card_field_list_all, #mbdb_popup_card_field_list {
	 width: 45%;
	 float: left;
	 margin: 2%;
 }


 #mbdb_popup_card_fields {
   font-weight: bold;
   list-style-type: none;
   margin: 10px;
   padding: 0;
   width: 60%;

 }


   #_mbdb_popup_card_field_list ,#_mbdb_popup_card_field_list_all {
	   height: 200px;
	   border: 1px solid #ccc;
	   overflow: auto;
	   padding: 10px;
  }

 #mbdb_popup_card_fields li {
   margin: 0 3px 3px 3px;
   padding: 0.3em;
   font-size: 1.4em;
   cursor: pointer;
 }



#mbdb_popup_card_fields li span {
    position: absolute;
    margin-left: -1.3em;
}
